## **Data Types and Structures**

1. What are data structures, and why are they important?
  -  Data structures are a way of organizing and storing data in a computer so that it can be used efficiently. They define not just how data is stored, but also how we can access, manipulate, and manage it.

     They're important because they directly affect the performance of our programs. Choosing the right data structure can make our code more efficient in terms of both time and space. For example, using a hash table allows for fast lookups on average, while a tree structure can help maintain a sorted order and enable quick insertions and deletions.

     Beyond performance, data structures also make our code more organized and easier to maintain. They're fundamental to the design of algorithms, and each structure is suited to specific types of problems. For instance, graphs are great for modeling networks, queues are useful in scheduling, and stacks are often used in parsing expressions or implementing backtracking.

     Ultimately, a solid understanding of data structures is essential for building scalable and optimized applications.
     
2. Explain the difference between mutable and immutable data types with examples.
  - The key difference between mutable and immutable data types is whether or not they can be changed after they’re created.

     Mutable data types can be changed in place. This means you can modify the object’s content without creating a new object.

     For example, in Python:

     my_list = [1, 2, 3]

     my_list.append(4)

     After this operation, my_list becomes [1, 2, 3, 4]—the original list was directly modified.

     Immutable data types, on the other hand, cannot be changed after creation. Any operation that tries to alter them will result in the creation of a new object.

     A good example is a string:

     my_str = "hello"

     my_str += " world"

     Even though it looks like we modified my_str, Python actually created a new string "hello world" and assigned it back to my_str.

     This concept is important because it affects how data is handled in memory, especially when passing variables to functions. Immutable types are generally safer to use in concurrent programming since their state can’t change unexpectedly.

3. What are the main differences between lists and tuples in Python?

   - The main differences between lists and tuples in Python are:

      1. Mutability:

         - Lists are mutable, meaning their contents can be changed (you can add, remove, or modify elements).

       - Tuples are immutable, meaning once they are created, their contents cannot be altered.

      2. Syntax:

         - Lists are defined using square brackets: list_example = [1, 2,
        -  Tuples are defined using parentheses: tuple_example = (1, 2, 3)

      3. Performance:

         - Tuples are generally faster than lists when it comes to iteration and access, due to their immutability and fixed size.

         - Lists consume slightly more memory and are better suited for dynamic collections.

      4. Use Cases:

          -  Use lists when you need a modifiable collection of items.

         - Use tuples when you want to ensure data integrity (e.g., coordinates, days of the week), or when you want to use the collection as a dictionary key (since tuples are hashable and lists are not).

4. Describe how dictionaries store data.
    - In Python, a dictionary is a highly efficient, built-in data structure used to store data in key-value pairs. It allows for fast and flexible data retrieval based on unique keys.

       -  How Data is Stored:

         - Internally, Python dictionaries use a hash table.

          - When you insert a key-value pair, Python:

              1. Computes the hash value of the key.

              2. Uses this hash to determine an index in the internal array.

              3. Stores the key-value pair at that index.

          -  This enables average-case constant time complexity — O(1) — for
             lookups, insertions, and deletions.

       Example:


           person = {"name": "Alice", "age": 30}
           print(person["name"])  # Output: Alice

           

5. Why might you use a set instead of a list in Python?
   -  You might use a set instead of a list when you need to:

      -  Ensure uniqueness — sets automatically remove duplicates.

     -  Check membership efficiently — the in operator is faster in sets (O(1) average) than in lists (O(n)).

     -  Perform set operations like union, intersection, and difference.

     Example:

     unique_items = set([1, 2, 2, 3])  # Output: {1, 2, 3}
6. What is a string in Python, and how is it different from a list
   - A string in Python is an immutable sequence of Unicode characters, while a list is a mutable sequence that can hold any type of elements.

    -  Key differences:

      -   Strings are immutable; you cannot modify them in place.

       -  Lists are mutable; elements can be added, changed, or removed.      
7. How do tuples ensure data integrity in Python?
    -  Tuples are immutable, meaning once created, their values cannot be changed. This immutability ensures that the data remains constant and secure, making tuples ideal for storing fixed sets of values or using them as dictionary keys.
8.  What is a hash table, and how does it relate to dictionaries in Python?
   -  A hash table is a data structure that stores key-value pairs using a hash function to compute an index. In Python, dictionaries are implemented using a hash table, which allows for constant-time access to values via their keys.

9.  Can lists contain different data types in Python?
   -    Yes, Python lists are heterogeneous, meaning they can contain different data types within the same list, such as integers, strings, and even other lists or objects.

   Example:

   mixed = [1, "hello", [2, 3], 4.5]
10.  Explain why strings are immutable in Python.
    -  Strings in Python are immutable, meaning once created, they cannot be changed. This design offers:

      -  Memory efficiency, as the interpreter can safely reuse string objects.

      -  Thread safety, since immutable objects can be shared between threads without risk.

      -  It also ensures predictable behavior in functions and data structures that rely on consistent values (like dictionary keys).

11.  What advantages do dictionaries offer over lists for certain tasks?
    -  Dictionaries are better than lists when you need:

      -  Fast lookups by key (O(1) average time complexity).

      -  Key-value mappings, such as storing user data, configurations, or lookup tables.

       -  More readable code, as keys provide meaningful context to values.

       Example:

       user = {"name": "Alice", "age": 25}

12.   Describe a scenario where using a tuple would be preferable over a list.
     -  Use a tuple when:

       -  The data should not be modified, e.g., geographical coordinates (latitude, longitude).

       -  You want to use the sequence as a dictionary key or in a set.

        -  Data integrity and performance are important (tuples are faster and smaller than lists).
13.  How do sets handle duplicate values in Python?
    -  Sets in Python automatically discard duplicates. When you add elements to a set, only unique values are stored.

     Example:

     s = set([1, 2, 2, 3])  # Result: {1, 2, 3}
14. How does the “in” keyword work differently for lists and dictionaries?
    -   In a list, in checks if a value exists: x in list → linear search (O(n)).

    - In a dictionary, in checks if a key exists: x in dict → hash table lookup (O(1) average).

15.  Can you modify the elements of a tuple? Explain why or why not.
    -    No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its size and contents cannot be changed. This immutability ensures data safety, hashability, and predictability in code.

16. What is a nested dictionary, and give an example of its use case?
    -  A nested dictionary is a dictionary where values are themselves dictionaries. It allows you to store hierarchical or structured data.

     Use Case: Storing employee details grouped by department.

     Example:

     company = {
  "Engineering": {"Alice": "Engineer", "Bob": "Tech Lead"},
  "HR": {"Clara": "Manager"}
   }

17. Describe the time complexity of accessing elements in a dictionary?
    -  Accessing an element by key in a dictionary has an average-case time complexity of O(1) due to its underlying hash table structure. In rare worst-case scenarios (due to hash collisions), it may degrade to O(n), but Python optimizes to keep lookups fast.

18.   In what situations are lists preferred over dictionaries?
    -  Lists are preferred when:

       -  You need to maintain order of elements.

        -  Data does not need a key (e.g., processing items sequentially).

        -  You need index-based access or slicing.

         -  The data is homogeneous and key-value mapping is unnecessary.


19.   Why are dictionaries considered unordered, and how does that affect data retrieval?
     -   Before Python 3.7, dictionaries were unordered — insertion order was not preserved. As of Python 3.7+, insertion order is preserved, but dictionaries are still primarily used for key-based retrieval, not for order.

       Retrieval is based on the key, not the position, which allows for constant-time access regardless of the element’s insertion position.   

     
20. Explain the difference between a list and a dictionary in terms of data retrieval.
    -  List: Retrieves elements using integer indices (list[0]), and search is O(n) unless indexed.

   -  Dictionary: Retrieves elements using keys (dict['key']), offering O(1) average lookup time due to hash mapping.

# **Practical Questions**

1.  Write a code to create a string with your name and print it.

In [1]:
name = "Arju"
print(name)

Arju

2.  Write a code to find the length of the string "Hello World".

In [2]:
s = "Hello World"
print(len(s))

11

3.  Write a code to slice the first 3 characters from the string "Python Programming.

In [4]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [6]:
s = "hello"
print(s.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [9]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [11]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [12]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Output: 'b'

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [13]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [14]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [15]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [16]:
nums = (10, 20, 5, 15)
print(min(nums))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [19]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [20]:
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [21]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [22]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [23]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [24]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [25]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [26]:
person = {"name": "John", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [27]:
person = {"name": "Alice", "age": 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [28]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [29]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [30]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [31]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[7, 24, 32, 57, 77]

28. Write a code to create a list with strings and print the element at the third index.

In [32]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [33]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [35]:
str_list = ["apple", "banana", "cherry", "apple"]
str_set = set(str_list)
print(str_set)

{'cherry', 'apple', 'banana'}